.chakra-ui-light{
    background-color: #f8fafc;
}
.m-10{
    margin: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.grey{
    color: #8d8d8d;
}
.grey:hover{
    background-color: #bebebe;
}
.blue{
    color: #0066ff;
}
.blue:hover{
    background-color: #e4efff;
}
.red{
    color: #ff0000;
}
.red:hover{
    background-color: #ffd2d2;
}
.btn{
    font-weight: bold;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
}
.stat-box{
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 15px 30px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
}
.sales-box{
    color: #2563eb;
}
.earning-box{
    color: #16a34a;
}
.pending-box{
    color: #dc2626;
}
@media (min-width:580px){
    .stat-box{
        margin-bottom: none;
    }
}